# Tuples

## Tuple ?

Tuple is like a list but immutable

## Defining a tuple

In [7]:
tpl = (5,6,7)
tpl = "hello", "world"

In [8]:
lst = list(tpl)
tpl = tuple(lst)

In [18]:
tuple1 = 1,2,3
tuple2 = 5,5,5

tuple1 += tuple2

print(tuple1)

(1, 2, 3, 5, 5, 5)

## Modifying a tuple

In [ ]:
t = (4,5,6)
t = t + (7,8)
print(t)

## Unpacking a tuple

In [22]:
my_tuple = ("Eyal", 20, "Hertsliya")

name, age, city = my_tuple

print(name, age, city)

Eyal 20 Hertsleyal

## Returning a tuple

In [7]:
def min_and_max(a_list):
    minimum = min(a_list)
    maximum = max(a_list)
    return minimum, maximum

my_list = [1,253,346,23414,143,56246,25341,534,645,7467,54]
mini, maxi = min_and_max(my_list)
print(mini, maxi)

1 56246

In [11]:
r = range(55623459827349857239485729834572983475)
print(r)

[0, 1, 2, 3, 4]

## The case of enumerate

In [17]:
mylist = ["Hello", "World", "It's", "Eyal"]

for ix, elem in enumerate(mylist):
    
    print(elem, ix)

Hello 0
World 1
It's 2
Eyal 3

In [18]:
mylist_1 = ["Hello", "Eyal", "I love"]
mylist_2 = ["World", "Shukrun", "Python"]

for ix, elem in enumerate(mylist_1):
    word_2 = mylist_2[ix]
    print(elem, word_2)

Hello World
Eyal Shukrun
I love Python

## ZIP

In [25]:
mylist_1 = ["Hello", "Eyal", "I love"]
mylist_2 = ["World", "Shukrun", "Python"]
mylist_3 = [1,2,3]
for elem1, elem2, elem3 in zip(mylist_1, mylist_2, mylist_3):
    print(elem1, elem2, elem3)

Hello World 1
Eyal Shukrun 2
I love Python 3

*****
# Exercise 1

### 1 
Write a list `me_list` with 3 items: Your first name, your last name and your age
### 2
Convert it to a tuple `me_tuple`
### 3
Manually print a little phrase with all the items
### 4
Unpack this tuple into three variables

***
# Exercise 2

### 1 
Make a list `me_list` in this format:<br>
<pre>
<code>
   me_list = [("name","Eyal"), 
            ("age",20), 
            ("hobbies", ['eating', 'coding', 'eating']) ]</code></pre>
### 2 
Make a function that convert that type of list into dictionnary

In [26]:
me_list = [("name","Eyal"), 
        ("age",20), 
        ("hobbies", ['eating', 'coding', 'eating']) ]

d= {}

for my_tuple in me_list:
    key, value = my_tuple
    d[key] = value
    
print(d)

{'name': 'Eyal', 'age': 20, 'hobbies': ['eating', 'coding', 'eating']}